$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$totalWaves: 60;

body {
    background-color: rgb(63, 126, 206);
    font-size: 0;
}

canvas {
    position: absolute;
    z-index: 100;
}

.waves {
    position: absolute;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@for $i from 0 to $totalWaves {
    path:nth-child(#{$i}) {
        transform: translate(0, ($i * 20px) - 110px);
    }
}
